* {
  box-sizing: border-box;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.sidebar {
  height: 100%;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.nav-link {
  color: white;
  text-decoration: none;
  margin: 25px 0px;
}
.card {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(50, 50, 50, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  text-shadow: 1px 1px black;
  border-radius: 10px;
  padding: 15px;
  width: 10em;
  box-shadow: 0px 1px 10px 1px silver;
  cursor: pointer;
  text-align: right;
}
.card:hover {
  box-shadow: 0px 1px 15px 5px silver;
}
.card-body p {
  font-size: 1.3em;
}
.visa-card {
  background-color: rgb(51, 51, 51);
  text-shadow: 1px 1px black;
  border-radius: 10px;
  padding: 15px;
  width: 263px;
  margin: auto;
}
  .visa-card p,
  .visa-card h3 {
    margin: 0;
  }
.card-visa-number {
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
}
.card-title {
  margin-top: 0;
}
.card-icon {
  margin-bottom: 15px;
}
.text-shadow {
  text-shadow: 1px 1px black;
}
.user-img {
  border-radius: 50%;
  width: 25px;
}
.user-info > svg {
  align-self: center;
  margin-left: 5px;
}
.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 14px;
}
.form-control:focus {
  outline: none;
}
.input-group {
  display: flex;
  width: 100%;
}
.input-group > .input-icon {
  padding: 10px;
  background-color: #4d4d4d;
  border-radius: 50px 0 0 50px;
}
.input-group > .form-control {
  background-color: #4d4d4d;
  border-radius: 0 50px 50px 0;
}
.list-items {
  list-style-type: none;
  padding: 0;
}
  .list-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
  }
.list-item-icon {
  padding: 10px;
  border-radius: 5px;
}
.icon-primary {
  background-color: rgb(0, 153, 255);
}
.icon-success {
  background-color: rgb(0, 179, 60);
}
.icon-warning {
  background-color: rgb(255, 204, 0);
}
.icon-info {
  background-color: rgb(255, 83, 26);
}

.list-item-category h5,
.list-item-category p {
  margin: 0;
}
.table {
  width: 100%;
  text-align: center;
}
  .table td {
    padding: 10px 0;
  }
.img-circle {
  border-radius: 50px;
  width: 35px;
}
.history-user p {
  margin: 0;
}
.user-control {
  cursor: pointer;
}


/* UTILITIES */
/* SPACING */


/* TEXT */
.small {
  font-size: .8em;
}
.lead {
  font-size: 1.5em;
  margin-bottom: 25px;
  margin-top: 0;
}

/* FLEX */
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-self-center {
  align-self: center;
}
.align-items-center {
  align-items: center;
}

/* GRID */
[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid white; */
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* STYLES */
.h-100 {
  height: 100%;
}
.h-75 {
  height: 75%;
}
.h-50 {
  height: 50%;
}
.h-25 {
  height: 25%;
}

.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .flex-responsive {
    flex-direction: column;
  }

  .nav {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }

  .card {
    width: 100%;
  }
}